<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhysicsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97C99E1C1CE6C7EE0068E910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97C99E301CE6C7EE0068E910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97C99E3B1CE6C7EE0068E910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
