<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutolayoutSizeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>970459661D0A5C65005DEAFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9704597A1D0A5C66005DEAFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970459851D0A5C66005DEAFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
