<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JustTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XPCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>979E8DA51C9A813D00FF4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979E8DBB1C9A813E00FF4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979E8DC61C9A813E00FF4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979E8DDC1C9A81C600FF4209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
