<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97C7863A1CE9B75F006CB6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97C7864E1CE9B75F006CB6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97C786591CE9B75F006CB6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
